
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 2rem;
  /* background: linear-gradient(135deg, #e63946, #ff595e); */
  /* background: linear-gradient(135deg, 	#D2042D, #837e7e); */
  background: linear-gradient(135deg,#7660ca, #9e9b9b96);
  position: sticky;
  top: 0;
  z-index: 1000;
  color: #fff;
  box-shadow: 0 4px 16px rgba(0,0,0,0.15);
  
}

.logo {
  display: flex;
  align-items: center;
  gap: 2px; 
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
}

.logo-img {
  width: 60px;           
  height: 60px;          
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
  transition: transform 0.2s ease;
}

.logo-img:hover {
  transform: scale(1.1);
}

.logo .highlight { color: #111; }

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  transition: max-height 0.3s ease;
}

.nav-links li a {
  display: block;              
  text-decoration: none;
  font-weight: 500;
  color: #000000;
  padding: 0.7rem 1rem;       
  padding: 0.5rem 0.5rem;        
  border-radius: 8px;
  transition: all 0.25s ease;
  line-height: 1.4;            
  white-space: normal;         
}
.nav-links li a:hover {
  color: #111;
  background: #fff;
  transform: translateY(-3px) translateZ(0); 
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}


.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}
.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background: #fff;
  border-radius: 3px;
  transition: 0.3s;
}


.hamburger span.active:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger span.active:nth-child(2) {
  opacity: 0;
}
.hamburger span.active:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 1100px) {
  .hamburger { display: flex; }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 20px;
    flex-direction: column;
    background: linear-gradient(135deg,#7660ca, #9e9b9b96);
    border-radius: 8px;
    padding: 0;
    overflow: hidden;
    max-height: 0;
  }
  .nav-links.active {
    max-height: 500px;
    padding: 1rem;
  }
}
