<div class="contact-wrapper">
  <div class="contact-card">
    
    <h1>Kapcsolat és segítség</h1>

    <img src="/telephone.png" alt="Telefon ikon" class="contact__icon">

    <p class="contact-text">
      Ha bármilyen kérdésed van, vagy segítségre van szükséged a használat során,
      ne habozz kapcsolatba lépni velünk!
    </p>

    <div class="contact-info">
      <div class="info-item">
        <span class="icon">📞</span>
        <span>+361-20-123-456</span>
      </div>

      <div class="info-item">
        <span class="icon">✉️</span>
        <a href="mailto:Help@helpconnect.hu">helpconnect12@gmail.com</a>
      </div>
    </div>

    <button routerLink="/home" class="back-btn">
      Vissza a főoldalra
    </button>

  </div>
</div>
