
.organizations-container {
	position: relative;
}

.header-actions {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.card-header {
	border-bottom: 0;
}

@media (max-width: 720px) {
	.header-actions {
		width: 100%;
	}
}
